* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #e0e0e0;
	font-family: sans-serif;
}

.login-box{
	width: 400px;
	height: 500px;
	background-color: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: -1px 4px 30px -4px rgba(0,0,0,0.75);
	padding: 70px 30px;
	border-radius: 10px;
}

.login-box h1{
	margin-bottom: 40px;
	text-align: center;
	font-size: 32px;
}

.textbox{
	display: flex;
	position: relative;
	margin-bottom: 25px;
}

.textbox input{
	width: 100%;
	padding: 12px 20px;
	font-size: 18px;
	color: #000;
	background: transparent;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	transition: all 0.5s ease-in-out;
}

.textbox input:focus{
	border-bottom: 2px solid #fc03d8;
}

.captcha-box{
	display: flex;
	position: relative;
	margin-bottom: 25px;
	align-items: center;
}

.captcha-box img{
	margin-right: 10px;
}

.captcha-box input{
	width: 100%;
	padding: 12px 20px;
	font-size: 18px;
	color: #000;
	background: transparent;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	transition: all 0.5s ease-in-out;
}

.captcha-box input:focus{
	border-bottom: 2px solid #fc03d8;
}

.btn{
	margin-top: 40px;
	padding: 16px 32px;
	background-color: #fc03d8;
	color: #fff;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 24px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.btn:hover{
	background-color: #fff;
	color: #fc03d8;
}
